@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Global Styles*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* Navbar */

#navbar {
  background: #1e1a20;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  float: right;
  list-style: none;
  transition: transform 0.3s ease-out;
}

.nav-links:hover {
  transform: translateY(8px);
}

a {
  padding: 4em;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

/* Home */

#welcome-section {
  background: #1e1a20;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  color: white;
}

#welcome-tile {
  width: 500px;
  margin-left: 75px;
}

#hero {
  border-radius: 0.3em;
  width: 300px;
  max-width: 100%;
  display: block;
  height: auto;
}

.decor {
  margin: 0;
  background: #59b6b9;
  width: 150px;
  height: 7px;
}

.decor-2 {
  margin: 0;
  background: #59b6b9;
  width: 500px;
  height: 7px;
}
