@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Global Styles*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* add color vars later
:root {
  --prime: #1e90ff;
  --second: #ffffff;
}
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* Navbar */

#navbar {
  background: #1e1a20;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  float: right;
  list-style: none;
}

.nav-links > li:hover {
  transition: transform .4s ease-in-out;
  transform: translateY(5px);
  color: #59b6b9;
}

a {
  padding: 4em;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Home */

#welcome-section {
  background: #1e1a20;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  color: white;
  margin: .5em 0em;
}

#welcome-tile {
  max-width: 500px;
  margin-left: 7em;
}

#hero {
  border-radius: 1em;
  width: 300px;
  max-width: 100%;
  display: block;
  height: auto;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.5);
  
}

.decor {
  margin: 0;
  background: #59b6b9;
  width: 150px;
  height: 7px;
}

.decor-2 {
  margin: 0;
  background: #59b6b9;
  width: 500px;
  height: 7px;
}

.singled {
  color: #59b6b9;
}

/* Projects */


.projects {
 display: flex;
  justify-content: space-around;
  align-item: center;
  margin: 15rem 10rem;
}

.game {
  position: relative;
  width: 12.5rem;
}

.name {
  text-align: center;
  margin: .5rem;
}

.back {
  display: none;
}

.project-img {
  max-width: 100%;
  object-fit: cover;
  width: 295px;
  height: 300px;
  border-radius: .8rem;
}

.streamers {
  display: flex;
  justify-content: center;
}

.fab {
  margin: .8em;
  transform: scale(1.8);
}

.background {
  position: absolute;
  background: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(.2, .9);
  border-radius: .8rem;
  opacity: 0;
}

.game:hover .front {
  transition:  250ms;
  transform: translateY(-30%) scale(.8);
}

.game:hover .background {
  transition: 
    transform 250ms ease-in-out;
  transform: scale(1.4, 1.1);
  opacity: 1;
}