* {
  box-sizing: border-box;
}

#navbar {
  background: linear-gradient(to right, #141e30, #243b55);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  float: right;
  list-style: none;
}

a {
  padding: 5em;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: 'Noto Sans', sans serif;
  color: #333;
}

img {
  display: block;
  width: 100%;
}

/*typography*/

h1 {
  font-size: 5rem;
  background: linear-gradient(to top, #16222a, #3a6073);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 3rem;
  margin-top: 0;
}

.italic {
  font-style: italic;
}

/*layout*/

div.project-grid {
  display: inline-grid;
  grid-template-areas: 'project-tile project-tile project-tile';
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
}

.project-tile {
  margin: 2em;
  width: 350px;
  height: 280px;
  padding: 0;
  opacity: 0.6;
  transition: 0.7s;
}

.projects {
  text-align: center;
}

.project-img {
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

#welcome-section {
  display: flex;
  background: linear-gradient(to right, #757f9a, #d7dde8);
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
}

#navbar {
  background: linear-gradient(to right, #141e30, #243b55);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  float: right;
  list-style: none;
  white-space: nowrap;
}

a {
  padding: 5em;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.project-tile:hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.65);
  border-radius: 5%;
  transition-timing-function: ease-in-out;
}

.contact-section {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#profile-link {
  margin-left: 3em;
  background: linear-gradient(to right, #556270, #ff6b6b);
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 700px) {
  #navbar {
    background: white;
    border-bottom: 1.5px solid grey;
  }

  .nav-links {
    float: none;
    justify-content: space-around;
  }
  li {
    display: flex;
    justify-content: space-around;
  }
  a {
    color: #333 !important;
    padding: 1em;
    font-weight: 600;
  }
}

@media screen and (max-width: 1400px) {
  div.project-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'project-tile project-tile';
    grid-gap: 0.5em;
  }
}

@media screen and (max-width: 900px) {
  div.project-grid {
    grid-template-columns: 1fr;
    grid-template-areas: 'project-tile';
    grid-gap: 0.5em;
  }
}
